venv/
__pycache__/
.env
manual-baseline/terraform/terraform.tfvars
manual-baseline/terraform/.terraform
manual-baseline/terraform/.terraform.lock.hcl
manual-baseline/terraform/*.tfstate
manual-baseline/terraform/*.tfstate.backup